<header>
    <div class='container'>
        <%= image_tag "dnrlogo.png", class: "navbar_logo"%>
            <nav>
                <ul>
                    <li><%= link_to "Nosotros", root_path %></li>
                    <li><%= link_to "Servicios", root_path %></li>
                    <li><%= link_to "Blog", root_path %></li>
                    <li><%= link_to "Contacto", root_path %></li>
                </ul>
            </nav>
</header>